{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit Page - Encyclopedia
{% endblock %}

{% block body %}
<h1>Edit "{{ title }}" Page</h1>
<form action="{% url 'update' %}" method="POST">
    {% csrf_token %}

    {% for item in form %}
    {% if "itle" in item.label %}
    <div style="display: none;">
        {{ item.label }} <br>
        {{ item }}<br>
    </div>
    {% else %}
    {{ item.label }} <br>
    {{ item }}<br>
    {% endif %}
    {% endfor %}

    <input type="submit" class="btn btn-primary" value="Save Changes">
</form>

{% endblock %}