{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit Page - Encyclopedia
{% endblock %}

{% block body %}
<h1 style="display: inline-flex;">Edit<p style="padding: 0em 0.3em;" class="text-primary mb-0">{{ title }}</p> Page
</h1>
<hr class="mt-0 mb-2">
<form action="{% url 'update' %}" method="POST">
    {% csrf_token %}

    {% for item in form %}
    {% if "itle" in item.label %}
    <div style="display: none;">
        {{ item.label }} <br>
        {{ item }}<br>
    </div>
    {% else %}
    {{ item.label }} <br>
    {{ item }}<br>
    {% endif %}
    {% endfor %}

    <input type="submit" class="btn btn-primary" value="Save Changes">
</form>

{% endblock %}