{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title }} - Encyclopedia
{% endblock %}

{% block body %}

<!-- This is the result content of the wiki page -->
{% autoescape off %}{{ content }}{% endautoescape %}

<!-- This is the Edit page button -->
<form action="{% url 'edit' %}" method="POST">
    {% csrf_token %}
    <input style="display: none;" name="title" type="text" value="{{ title }}">
    <input type="submit" value="Edit" class="btn btn-outline-secondary">
</form>

{% endblock %}